.app-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content-wrapper {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 992px) {
  .app-container {
    flex-direction: column;
  }
}